<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<stringAttribute key="debug" value="org.eclipse.jdt.ui.JavaPerspective"/>
<stringAttribute key="run" value="org.eclipse.jdt.ui.JavaPerspective"/>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
</launchConfiguration>
